<div class="container">
    <ejs-chart 
        [chartArea]='chartArea' 
        [primaryXAxis]='primaryXAxis'
        [primaryYAxis]='primaryYAxis' 
        [title]='title'  
        [tooltip]='tooltip'
        [legendSettings]='legendSettings'
        (load)='load($event)'>
        <e-series-collection >
            <e-series [dataSource]="data" type="Bar" xName='x' yName='y' name='Prospects' [marker]='marker'></e-series>
            <e-series [dataSource]="data1" type="Bar" xName='x' yName='y' name='Conversion' [marker]='marker'></e-series>
        </e-series-collection>
    </ejs-chart>
</div>