<div>
    <div class="mb-3">
        <app-spline-area [data]="team.history"></app-spline-area>
    </div>
    <div class="d-flex justify-content-around">
        <div class="col-4 mt-2">
            <h6 class="text-center">Current Agent Performances</h6>
            <ul class="list-group list-group-flush" >
                <li class="list-group-item" *ngFor="let mate of team.team">
                    <div class="d-flex justify-content-around"  ngbPopover="{{'Converted '+(500-mate.holding)+' out of 500 products'}}" triggers="mouseenter:mouseleave" popoverTitle="{{'Details for '+mate.name}}">
                        <div class="me-5">{{mate.name}}</div>
                        <div [ngClass]="((500-mate.holding)/500)<.8?'text-danger':'text-success'">
                            {{ ((500-mate.holding)/500)*100 | number:'2.2-2' | slice:0:2 }}%
                        </div>
                        <div [ngClass]="((500-mate.holding)/500)<.8?'text-danger':'text-success'">
                            <i class="fa" [ngClass]="((500-mate.holding)/500)<.8?'fa-caret-down':'fa-caret-up'"></i>
                        </div>
                    </div>
                </li>
              </ul>
        </div>
        <div class="col-6">
            <app-pie-chart></app-pie-chart>
        </div>
    </div>
</div>