<div *ngIf="worker">
    <div class="card-body">
        <div class="d-flex justify-content-between">
            <div>
                <button [disabled]='!workerForm.valid' [hidden]="action==='add'" class="btn btn-sm btn-secondary btn-detail"
                    (click)="viewWorker()">
                    <i class="fa fa-arrow-left"></i>
                </button>
            </div>
            <div>
                <h6>{{action==="add" ? "Create User" :  'Edit Details'}}</h6>
            </div>
            <div></div>
        </div>

        <form #workerForm="ngForm" class="mt-2" (submit)="workerPatch()">
            <div class="row">
                <!-- FIRSTNAME -->
                <div class="col mb-2">
                    <div class="input-group input-group-sm">
                        <input  placeholder="Firstname" type="text" class="form-control" id="fname" name="fname"
                                [class]="(fname.invalid && (fname.dirty || fname.touched)) ? 'is-invalid': '' "
                                [(ngModel)]="worker.firstname" #fname="ngModel" required >
                    </div>
                    <div *ngIf="fname.invalid && (fname.dirty || fname.touched)" id="fname" class="text-danger">
                        <small *ngIf="fname.errors?.['required']">
                            Firstname is required.
                        </small>
                    </div>
                </div>
                <!-- SURNAME -->
                <div class="col mb-2">
                    <div class="input-group input-group-sm">
                        <input  placeholder="Surname" type="text" class="form-control" id="sname" name="sname" 
                        [class]="(sname.invalid && (sname.dirty || sname.touched)) ? 'is-invalid': '' "
                        [(ngModel)]="worker.surname" #sname="ngModel" required>
                    </div>
                    <div *ngIf="sname.invalid && (sname.dirty || sname.touched)" id="sname" class="text-danger">
                        <small *ngIf="sname.errors?.['required']">
                            Surname is required.
                        </small>
                    </div>
                </div>
            </div>
            <div class="row">
                <!-- EMAIL -->
                <div class="col mb-2">
                    <div class="input-group input-group-sm">
                        <input  placeholder="Email" type="email" class="form-control" id="email" name="email" 
                                [class]="(email.invalid && (email.dirty || email.touched)) ? 'is-invalid': '' "
                                [(ngModel)]="worker.email" #email="ngModel" required>
                    </div>
                    <div *ngIf="email.invalid && (email.dirty || email.touched)" id="email" class="text-danger">
                        <small *ngIf="email.errors?.['required']">
                            Email is required.
                        </small>
                    </div>
                </div>
                <!-- GENDER -->
                <div class="col">
                    <div class="input-group input-group-sm">
                        <select class="form-select mb-2" aria-label="Default select example" id="gender" name="gender" [(ngModel)]="worker.gender" #gender="ngModel">
                            <option *ngFor="let gender of genders" [ngValue]="gender">{{gender}}</option>
                        </select>
                    </div>
                </div>
            </div>
            <br>
            <!-- DATE OF BIRTH -->
            <div class="input-group input-group-sm mb-2">
                <input placeholder="Enter Date Of Birth" type="text" class="form-control" id="dob" name="dob" [(ngModel)]="worker.dob" ngbDatepicker #dob="ngbDatepicker">
                <button class="btn btn-outline-secondary" type="button" (click)="dob.toggle()"><i class="fa fa-calendar"></i></button>
            </div>
            <div class="row">
                <!-- CONTACT1 -->
                <div class="col mb-2">
                    <div class="input-group input-group-sm">
                        <input  placeholder="Contact One" type="text" class="form-control" id="c1" name="c1" 
                                [class]="(c1.invalid && (c1.dirty || c1.touched)) ? 'is-invalid': '' "
                                [(ngModel)]="worker.contact1" #c1="ngModel" required>
                    </div>
                    <div *ngIf="c1.invalid && (c1.dirty || c1.touched)" id="c1" class="text-danger">
                        <small *ngIf="c1.errors?.['required']">
                            Contact is required.
                        </small>
                    </div>
                </div>
                <div class="col">
                    <div class="input-group input-group-sm">
                        <input placeholder="Contact Two" type="text" class="form-control mb-2" id="c2" name="c2" [(ngModel)]="worker.contact2" #c2="ngModel">
                    </div>
                </div>
            </div>
            <br>
            <div class="row">
                <div class="col">
                    <div class="input-group input-group-sm">
                        <select class="form-select mb-2" aria-label="Default select example" id="wrole" name="wrole" [(ngModel)]="worker.role" #wrole="ngModel">
                            <option *ngFor="let role of roles" [ngValue]="role">{{role}}</option>
                        </select>
                    </div>
                </div>
                <div class="col">
                    <div class="input-group input-group-sm">
                        <select class="form-select mb-2" aria-label="Default select example" id="team" name="team" [(ngModel)]="worker.team" #team="ngModel">
                            <option *ngFor="let team of teams" [ngValue]="team">{{team}}</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="row" *ngIf="worker.role.slice(0,2) === 'CS' ">
                <div class="col">
                    <div class="input-group input-group-sm">
                        <select class="form-select mb-2" aria-label="Default select example" id="zone" name="zone" [(ngModel)]="worker.zone" #zone="ngModel">
                            <option *ngFor="let zone of cszones" [ngValue]="zone">{{zone}}</option>
                        </select>
                    </div>
                </div>
                <div class="col">
                    <div class="input-group input-group-sm">
                        <select class="form-select mb-2" aria-label="Default select example" id="region" name="region" [(ngModel)]="worker.region" #region="ngModel">
                            <option *ngFor="let region of csregions[worker.zone]" [ngValue]="region">{{region}}</option>
                        </select>
                    </div>
                </div>
                <div class="col">
                    <div class="input-group input-group-sm">
                        <select class="form-select mb-2" aria-label="Default select example" id="branch" name="branch" [(ngModel)]="worker.branch" #branch="ngModel">
                            <option *ngFor="let branch of csbranches[worker.region]" [ngValue]="branch">{{branch}}</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="row" class="row" *ngIf="worker.role.slice(0,3) === 'LBF' ">
                <div class="col">
                    <div class="input-group input-group-sm">
                        <select class="form-select mb-2" aria-label="Default select example" id="region" name="region" [(ngModel)]="worker.region" #region="ngModel">
                            <option *ngFor="let region of lbfregions" [ngValue]="region">{{region}}</option>
                        </select>
                    </div>
                </div>
                <div class="col">
                    <div class="input-group input-group-sm">
                        <select class="form-select mb-2" aria-label="Default select example" id="branch" name="branch" [(ngModel)]="worker.branch" #branch="ngModel">
                            <option *ngFor="let branch of lbfbranches[worker.region]" [ngValue]="branch">{{branch}}</option>
                        </select>
                    </div>
                </div>
            </div>
            
            <div class="d-flex justify-content-center">
                <button type="submit" class="btn btn-secondary mt-2 px-5" [disabled]='!workerForm.valid'>Save</button>
            </div>
        </form>
    </div>
</div>