<div class="container">
    <h1 class="display-2 mt-5">About PSWC</h1>
    <div class="container mt-4">
        <p class="lead">
            PSWC Manage’s primary role is to manage workers employed in a ministry, local govern ment (district), 
            hospital, non-government organization, or a private organization. A deci sion maker within the organization 
            can analyze this data to answer key human resource  management and policy questions, such as:  
        </p>
        <ul>
            <li class="lead">
                Are employees deployed in positions that match their qualifications and education?  
            </li>
            <li class="lead">
                Are employees optimally deployed in locations to meet needs?  
            </li>
            <li class="lead">
                How many workers need to be recruited to fulfill anticipated vacancies?  
            </li>
            <li class="lead">
                Are pay rates equitable across similar jobs?  
            </li>
            <li class="lead">
                Are employees being promoted in alignment with competencies?  
            </li>
            <li class="lead">
                What are the reasons for employee attrition?  
            </li>
        </ul>
    </div>
</div>