frontend/.angular
frontend/.vscode
frontend/angular.json
frontend/package-lock.json
frontend/package.json
frontend/.editorconfig
frontend/.browserslistrc
frontend/karma.conf.js
frontend/tsconfig.app.json
frontend/tsconfig.json
frontend/tsconfig.spec.json
frontend/src
frontend/node_modules/
backend/node_modules/
backend/package-lock.json
.env
codes.txt
sample.ipynb
en.csv