.sidebar{
    /* border-color: gray; */
    /* border-left: 2px; */
    /* border-right-width: 1px; */
    /* border-width: 2px; */
    /* border-right-style: solid; */
    height: 90vh;
}

.menu{
    list-style-type: none;
    color: white;
    padding: 0;
    min-height: 90vh;
}
.menu-item{
    cursor: pointer;
}
.icon{
    color: white;
}