<div>
    <div class="card shadow-lg my-3 bg-navy text-light text-center">
        <div class="card-body">
            <h1 class="display-5">{{greeting}}! {{currentUser.fullname | titlecase}}</h1>
            <h3></h3>
            <hr>
            <h5>Daily Quote</h5>
            <p class="lead"><em>{{quote}}</em></p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4 col-12 mb-3">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title text-navy" (click)="updateView('analytics')">
                        <i class="icon fa fa-pie-chart mx-2"></i>Analytics
                    </h4>
                    <p class="lead">Checkout overall analytics to see how your team is performing</p>
                </div>
            </div>
        </div>
        <div class="col-md-4 col-12 mb-3">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title text-navy" (click)="updateView('users')">
                        <i class="icon fa fa-users mx-2"></i>
                        {{currentUser.role==='Admin'? "System Users": "Team"}}
                    </h4>
                    <p class="lead">View team details and personal analytics of their performance</p>
                </div>
            </div>
        </div>
        <div class="col-md-4 col-12 mb-3">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title text-navy" (click)="updateView('clients')">
                        <i class="icon fa fa-user-plus mx-2"></i>Clients
                    </h4>
                    <p class="lead">Create and manage clients. Regularly check pipeline status</p>
                </div>
            </div>
        </div>
        <div class="col-md-4 col-12 mb-3">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title text-navy" (click)="updateView('archive')">
                        <i class="icon fa fa-archive mx-2"></i>Archive
                    </h4>
                    <p class="lead">Checkout your performance history. This could help you plan better today</p>
                </div>
            </div>
        </div>
    </div>
</div>