<!-- <div class="pb-5" *ngIf="user && currentUser">
    <app-dash-profile [user]="user" (upatch)="userPatch($event)" (updateform)="userUpdateForm($event)"></app-dash-profile>
</div> -->
<div class="card">
    <div [ngSwitch]="currentView">
        <div *ngSwitchCase="'users'">
            <div *ngIf="action==='add'; else editBlock">
                <app-form-worker 
                    [worker]="worker" 
                    [action]="action"
                    (pu)="patchUser($event)"
                    (cu)="createUser($event)">
                </app-form-worker>
            </div>
            <ng-template #editBlock>       
                <div *ngIf="edit; else wdetails">
                    <app-form-worker 
                        [currentUser]="currentUser"
                        [worker]="worker" 
                        [action]="action" 
                        [edit]="edit" 
                        (pu)="patchUser($event)"
                        (cu)="createUser($event)"
                        (ew)="edit=!edit">
                    </app-form-worker>
                </div>
                <ng-template #wdetails>
                    <app-view-worker [worker]="worker" [currentUser]="currentUser" [edit]="edit" (ew)="edit=!edit" ></app-view-worker>
                </ng-template>
            </ng-template>
        </div>
        <div *ngSwitchCase="'clients'">
            <div *ngIf="action==='add'; else editBlock">
                <app-form-client 
                            [client]="client" 
                            [currentUser]="currentUser"
                            [action]="action" 
                            (pc)="patchClient($event)"
                            (cc)="createClient($event)">
                </app-form-client>
            </div>
            <ng-template #editBlock>       
                <div [ngSwitch]="clientView">
                    <div *ngSwitchCase="'details'">
                        <app-view-client [client]="client" [currentUser]="currentUser" (cv)="changeClientView($event)" ></app-view-client>
                    </div>
                    <div *ngSwitchCase="'edit'">
                        <app-form-client 
                                    [client]="client"
                                    [currentUser]="currentUser"
                                    [action]="action" 
                                    (pc)="patchClient($event)"
                                    (cv)="changeClientView($event)" >
                        </app-form-client>
                    </div>
                    <div *ngSwitchCase="'stages'">
                        <app-form-client-stages 
                                    [client]="client" 
                                    [currentUser]="currentUser"
                                    [action]="action" 
                                    (pc)="patchClient($event)"
                                    (cv)="changeClientView($event)">
                        </app-form-client-stages>
                    </div>
                    <div *ngSwitchDefault>output2</div>
                </div>
            </ng-template>
        </div>
        <div *ngSwitchDefault>Nothing to show</div>
    </div>
</div>