<!-- <div class="pb-5" *ngIf="user && currentUser">
    <app-dash-profile [user]="user" (upatch)="userPatch($event)" (updateform)="userUpdateForm($event)"></app-dash-profile>
</div> -->
<div class="card">
    <div [ngSwitch]="currentView">
        <div *ngSwitchCase="'users'">
            <div *ngIf="action==='add'; else editBlock">
                <app-form-worker [worker]="worker" [action]="action"></app-form-worker>
            </div>
            <ng-template #editBlock>       
                <div *ngIf="edit; else wdetails">
                    <app-form-worker [worker]="worker" [edit]="edit" (ew)="edit=!edit"></app-form-worker>
                </div>
                <ng-template #wdetails>
                    <app-view-worker [worker]="worker" [edit]="edit" (ew)="edit=!edit" ></app-view-worker>
                </ng-template>
            </ng-template>
        </div>
        <div *ngSwitchCase="'clients'">
            <div *ngIf="action==='add'; else editBlock">

            </div>
            <ng-template #editBlock>       
  
            </ng-template>
            <app-view-client></app-view-client>
        </div>
        <div *ngSwitchDefault>Nothing to show</div>
    </div>
</div>