<div *ngIf="users">
    <!-- <form>
        <div class="mb-3 row">
            <label for="table-filtering-search" class="col-xs-3 col-sm-auto col-form-label">Full text search:</label>
            <div class="col-xs-3 col-sm-auto">
            <input id="table-filtering-search" class="form-control" type="text" [formControl]="filter">
            </div>
        </div>
    </form> -->

    <table class="table table-striped">
    <thead>
    <tr>
        <!-- <th scope="col">Worker ID</th> -->
        <th scope="col">Username</th>
        <th scope="col">Email</th>
        <th scope="col">Role</th>
        <th scope="col">Profile</th>
    </tr>
    </thead>
    <tbody>
        <tr *ngFor="let user of paginatedUsers; index as i">
            <!-- <th scope="row">PSWC{{ user.worker_id}}</th> -->
            <td><ngb-highlight [result]="user.username" [term]="filter.value"></ngb-highlight></td>
            <td><ngb-highlight [result]="user.email" [term]="filter.value"></ngb-highlight></td>
            <td><ngb-highlight [result]="user.role"></ngb-highlight></td>
            <td><button class="btn btn-link" (click)="showProfile(user);updateView()">View Profile</button></td>
        </tr>
    </tbody>
    </table>
    <div class="d-flex justify-content-between p-2">
        <ngb-pagination [collectionSize]="collectionSize" [(page)]="page" [pageSize]="pageSize" (pageChange)="refreshUsers()">
        </ngb-pagination>
      
        <select class="form-select" style="width: auto" [(ngModel)]="pageSize" (ngModelChange)="refreshUsers()">
          <option [ngValue]="6">6 items per page</option>
          <option [ngValue]="10">10 items per page</option>
          <option [ngValue]="20">20 items per page</option>
        </select>
      </div>
</div>