<div class="p-3 d-flex justify-content-between bg-light">
    <div class="logo">PSWC</div>
    <div routerLink="/">Welcome</div>
    <div [hidden]="!isauth">
        <i class="fa fa-home icon" routerLink="/dashboard"></i>
    </div>
    <div [hidden]="isauth">
        <button class="btn btn-sm btn-outline-secondary" (click)="showForms()">
            <i class="fa fa-sign-in mx-2 icon" ></i>Login
        </button>
    </div>
    <div [hidden]="!isauth">
        <button class="btn btn-sm btn-outline-secondary" (click)="logout()">
            <i class="fa fa-sign-out mx-2 icon"></i>Logout
        </button>
    </div>
</div>