<div *ngIf="client">
    <div class="card-body">
        <div class="d-flex justify-content-between">
            <div></div>
            <div></div>
            <div>
                <h3 class="text-center">{{client.fullname | titlecase}} </h3>
            </div>
            <div class="d-flex justify-content-end">
                <div *ngIf="stagePermission">
                    <button class="btn btn-sm btn-secondary btn-detail"
                        (click)="changeClientView('stages')">
                        <i class="fa fa-cogs"></i>
                    </button>
                </div>
                <div>

                    <button class="btn btn-sm btn-secondary btn-detail ms-1"
                    (click)="changeClientView('edit')">
                        <i class="fa fa-pencil"></i>
                    </button>
                </div>
            </div>
        </div>
        <h6 class="text-center text-muted">{{client.email }}</h6>
        <h6 class="text-center">{{ client.type }}</h6>
        <h6 class="text-center"> <span class="badge bg-danger">{{client.status}}</span> </h6>

    </div>
</div>
