<div class="card bg-navy shadow">
  <div class="card-body">
    <!-- login form -->
    <div [hidden]="forgotPassword">
      <form #loginForm="ngForm" (submit)="login()">
        <div class="mb-3">
          <label for="email" class="form-label">Email address</label>
          <input type="email" class="form-control" id="email" name="email" [(ngModel)]="loginuser.email" #email="ngModel" aria-describedby="emailHelp">
        </div>
        <div class="mb-3">
          <label for="pwd" class="form-label">Password</label>
          <input type="password" class="form-control" id="pwd" name="pwd" [(ngModel)]="loginuser.password" #pwd="ngModel" >
        </div>
        <button type="submit" class="btn btn-secondary">Login</button>
  
      </form>
      <button type="submit" class="btn btn-link" (click)="forgotPassword = true" >Forgot Password!</button>
  
    </div>
  
    <!-- signup form -->
    <div [hidden]="!forgotPassword">
      <p>Enter email you used to create your account and check email on submission</p>
      <form #SignupForm="ngForm" (submit)="forgotpwd()">
        <div class="mb-3">
          <label for="email" class="form-label">Email address</label>
          <input type="email" class="form-control" id="emails" name="email" [(ngModel)]="forgotPwdEmail" #email="ngModel" aria-describedby="emailHelp">
        </div>
       
        <button type="submit" class="btn btn-secondary">Submit</button>
      </form>
      <button type="submit" class="btn btn-link" (click)="forgotPassword = false">Have account details, Login!</button>
    </div>
  
  </div>
  </div>