<div *ngIf="currentUser" class="pb-5">
    <div class="d-flex justify-content-center mb-3">
        <div *ngIf="createPermission">
            <button class="btn btn-secondary btn-sm px-5" type="button"
                (click)="action='add';userUpdateForm(searchForm);setNewUser()">
                <span> <i class="fa fa-plus me-1"></i></span> Create
            </button>
        </div>
    </div>
    <ejs-grid   [dataSource]=" currentView==='users'? currentUser.workers: currentUser.clients " 
                [allowPaging]="true" 
                [allowSorting]="true"
                [allowFiltering]="true" 
                [pageSettings]="pageSettings">
        <e-columns>
            <e-column field='fullname' headerText='Name' textAlign='Right' width=80></e-column>
            <e-column field='gender' headerText='Gender' textAlign='Right' width=30></e-column>
            <e-column [visible]="currentView==='users'" field='role' headerText='Role' textAlign='Right' width=50 ></e-column>
            <e-column [visible]="currentView==='users' && currentUser.role!=='Admin'" field='team' headerText='Team' textAlign='Right' width=50 ></e-column>
            <e-column [visible]="currentView==='users' && currentUser.role==='Admin'" field='region' headerText='Region' textAlign='Right' width=50 ></e-column>
            <e-column [visible]="currentView==='users' && currentUser.role==='Admin'" field='branch' headerText='Branch' textAlign='Right' width=50 ></e-column>
            <e-column [visible]="currentView!=='users'" field='agentName' headerText='Agent' textAlign='Right' width=70 ></e-column>
            <e-column [visible]="currentView!=='users'" field='type' headerText='Type' textAlign='Right' width=50 ></e-column>
            <e-column [visible]="currentView!=='users'" field='status' headerText='Status' textAlign='Right' width=50 ></e-column>
            <e-column [visible]=" editPermission " [allowFiltering]="false" [allowSorting]="false"  textAlign='Right' width=30 >
                <ng-template #template let-data>
                    <div>
                        <button class="btn btn-secondary btn-sm btn-detail" 
                                (click)="action='edit';userUpdateForm(searchForm);setUser(data)"> 
                            <i class="fa fa-info"></i> 
                        </button>
                    </div>                  
                </ng-template>
            </e-column>
            <e-column [visible]="currentUser.role==='Admin' || currentUser.role==='LBF Branch Manager' || currentUser.role==='CS Branch Manager'" [allowFiltering]="false" [allowSorting]="false"  textAlign='Right' width=30 >
                <ng-template #template let-data>
                    <div>
                        <button class="btn btn-danger btn-sm btn-detail" 
                                (click)="currentView ==='users' ?  deleteUser(data) : deleteClient(data)"> 
                            <i class="fa fa-trash"></i> 
                        </button>
                    </div>                  
                </ng-template>
            </e-column>
            
        </e-columns>
    </ejs-grid>
    <ng-template #searchForm let-modal>
        <div class="modal-header modal-head">
            <h5 class="modal-title" id="modal-basic-title">Details</h5>
            <button type="button" class="btn btn-link" aria-label="Close" (click)="modal.dismiss('Cross click')">
              <i class="fa fa-times" style="color: black;"></i>
            </button>
        </div>
        <div class="modal-body">
            <app-dash-view 
                        [worker]="worker" 
                        [client]="client" 
                        [currentUser]="currentUser" 
                        [currentView]="currentView" 
                        [action]="action"
                        (pu)="patchUser($event)"
                        (cu)="createUser($event)"
                        (pc)="patchClient($event)"
                        (cc)="createClient($event)">
            </app-dash-view>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-light" (click)="modal.close('Close click')">Close</button>
        </div>
    </ng-template>
</div>