<ejs-chart [primaryXAxis]='primaryXAxis' [primaryYAxis]='primaryYAxis' [title]='title'>
    <e-series-collection>
        <e-series [dataSource]='data' type='Polar' xName='x' yName='y' drawType='Line' name="Team A"> </e-series>
        <e-series [dataSource]='data2' type='Polar' xName='x' yName='y' drawType='Line' name="Team B"> </e-series>
        <!-- <e-series [dataSource]='data3' type='Polar' xName='x' yName='y' drawType='Line' name="Team c"> </e-series>
        <e-series [dataSource]='data4' type='Polar' xName='x' yName='y' drawType='Line' name="Team D"> </e-series> -->
    </e-series-collection>
</ejs-chart>