<div *ngIf="currentUser">
    <div class="d-flex justify-content-center">
        <div>
            <button class="btn btn-secondary btn-sm me-5" (click)="analyticView='general'">Overview</button>
        </div>
        <div>
            <div class="dropdown">
                <a class="btn btn-secondary btn-sm dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                  Team A
                </a>
                <ul class="dropdown-menu text-center" aria-labelledby="dropdownMenuButton1">
                  <li (click)="analyticView='ta'">Team A</li>
                  <li (click)="analyticView='tb'">Team B</li>
                </ul>
            </div>
        </div>
    </div>

    <div [ngSwitch]="analyticView">
        <div *ngSwitchCase="'general'">
            <h4 class="text-muted text-center my-4"><u>Overview</u></h4>
            <div *ngIf="currentUser" class="row d-flex justify-content-around mt-2 text-center">
                <div class="col-3" *ngFor="let v of rProgress">
                    <app-card-rates
                        [currentUser]="currentUser"
                        [info]="v"
                        [metric]="v.metric"
                        [total]="v.total"
                        [degreeValue]="v.value">
                    </app-card-rates>
                </div>
            </div>
            <div class="my-3">
                <app-column-chart></app-column-chart>
            </div>

            <div class="d-flex justify-content-around mt-2 text-center">
                <div class="col-6">
                    <!-- <app-stacked-bar-chart></app-stacked-bar-chart> -->
                    <app-bubble-chart></app-bubble-chart>
                </div>
                <div class="col-5">
                    <app-polar-chart></app-polar-chart>
                </div>
            </div>
        </div>
        <div *ngSwitchCase="'ta'">
            <h4 class="text-muted text-center my-4"><u>Team A</u></h4>
            <app-team-analytics [team]="teama" ></app-team-analytics>
        </div>
        <div *ngSwitchCase="'tb'">
            <h4 class="text-muted text-center my-4"><u>Team B</u></h4>
            <app-team-analytics [team]="teamb" ></app-team-analytics>
        </div>
        <div *ngSwitchDefault>Nothing to display</div>
    </div>

</div>