.cover {
    background-image: url(src/assets/cover.jpg);
    background-position: left left;
    background-attachment: scroll;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    padding:0px;
}
.cover-content{
    color: white;
    background-image: linear-gradient(to bottom ,rgba(0, 0, 0, 1),rgba(0, 0, 0, 0.4),rgba(0, 0, 0, 1));
    background-size: cover;
    height: 100vh;
}