<div class="container">
    <h1 class="display-2 mt-5">Platinum Credit</h1>
    <div class="container mt-4">
        <p class="lead">
            Private Sector Worker Catalog (PSWC) is a management tool that en ables an organization to design and manage a comprehensive human resources strategy.
            PSWC has five core modules: PSWC Qualify for  workforce registration and licensing,  PSWC Manage for human resource management, PSWC Train for managing pre-service  and in-service training, 
            PSWC Retain for attraction, motivation, and retention and PSWC  Plan for workforce planning and projections. 
            PSWC Manage helps an organization manage its workforce more effectively and efficiently. Using the system, the Human Resource (HR) professionals can create a centralized  
            information base on all human resource management aspects such as standard titles, job classifications and job descriptions spreading over geographic locations, offices, and  facilities
        </p>
    </div>
</div>