<!-- <div class="card shadow">
    <div class="card-body"> -->
        <ejs-chart style='display:block;' [chartArea]='chartArea' id='chartcontainer' [primaryXAxis]='primaryXAxis' [primaryYAxis]='primaryYAxis'
                [title]='title' [tooltip]='tooltip' (pointRender)='pointRender($event)' [legendSettings]='legend' (load)='load($event)'>
                <e-series-collection>
                    <e-series [dataSource]='data' [minRadius]='minRadius' [maxRadius]='maxRadius' type='Bubble' xName='x' yName='y' size='size' name='Pound' [marker]='marker'> </e-series>
                </e-series-collection>
        </ejs-chart>
    <!-- </div>
</div> -->