<form #changePasswd="ngForm" (submit)="changePassword()">
    <div class="mb-3">
      <label for="opwd" class="form-label">Old Password</label>
      <input type="password" class="form-control" 
      [class]="(opwd.invalid && (opwd.dirty || opwd.touched)) ? 'is-invalid': '' " 
      id="opwd" name="opwd" [(ngModel)]="changePwd.oldPassword" #opwd="ngModel" aria-describedby="emailHelp" required>
      <div *ngIf="opwd.invalid && (opwd.dirty || opwd.touched)" id="opwd" class="text-danger">
        <small *ngIf="opwd.errors?.['required']">
            Old Password is required.
        </small>
      </div>
    </div>

    <div class="mb-3">
        <label for="pwd" class="form-label">New Password</label>
        <input type="password" class="form-control"
          [class]="(pwd.invalid && (pwd.dirty || pwd.touched ) )  ? 'is-invalid': '' " 
         id="pwd" name="pwd" [(ngModel)]="changePwd.password" #pwd="ngModel" aria-describedby="emailHelp" required>
         <div *ngIf="pwd.invalid && (pwd.dirty || pwd.touched)" id="pwd" class="text-danger">
          <small *ngIf="pwd.errors?.['required']">
              New Password is required and must be 8 characters long
          </small>
        </div>
        <!-- <p>{{}}</p> -->
    </div>

    <div class="mb-3">
      <label for="pwdChk" class="form-label">New Password Check</label>
      <input type="password" class="form-control" 
        [class]="((pwdChk.invalid && (pwdChk.dirty || pwdChk.touched || pwdChk.value!==pwd.value)) ) ? 'is-invalid': '' " 
        id="pwdChk"name="pwdChk" [(ngModel)]="newCheck" #pwdChk="ngModel" aria-describedby="emailHelp" required>
        <div *ngIf="pwdChk.invalid && (pwdChk.dirty || pwdChk.touched)" id="pwdChk" class="text-danger">
          <small *ngIf="pwdChk.errors?.['required']">
              Check is required and must match new password 
          </small>
        </div>
    </div>
   
    <button type="submit" class="btn btn-secondary" [disabled]='!changePasswd.valid'>Submit</button>
</form>