<form #changePasswd="ngForm" (submit)="changePassword()">
    <div class="mb-3">
      <label for="opwd" class="form-label">Old Password</label>
      <input type="password" class="form-control" id="opwd" name="opwd" [(ngModel)]="changePwd.oldPassword" #opwd="ngModel" aria-describedby="emailHelp" required>
    </div>

    <div class="mb-3">
        <label for="pwd" class="form-label">New Password</label>
        <input type="password" class="form-control" id="pwd" name="pwd" [(ngModel)]="changePwd.password" #pwd="ngModel" aria-describedby="emailHelp" required>
      </div>
   
    <button type="submit" class="btn btn-secondary" [disabled]='!changePasswd.valid'>Submit</button>
</form>