<div class="container justify-content-center">
    <div [ngSwitch]="currentView">
        <div *ngSwitchCase="'dashboard'">
            <div *ngIf="currentUser" class="pb-5">
                <h3 class="text-muted my-2">Dashboard</h3>
                <app-dash-dashboard [currentUser]="currentUser" (uview)="updateView($event)"></app-dash-dashboard>
            </div>
        </div>
        <div *ngSwitchCase="'analytics'">
            <div *ngIf="currentUser" class="pb-5">
                <h3 class="text-muted my-2">Analytics</h3>
                <app-dash-analytics></app-dash-analytics>
            </div>
        </div>
        <div *ngSwitchCase=" 'users' ">
            <div *ngIf="currentUser" class="pb-5">
                <h3 class="text-muted my-2">System Users</h3>
                <app-dash-search 
                    [currentUser]="currentUser"
                    [currentView]="currentView"
                    (pu)="patchUser($event)"
                    (cu)="createUser($event)"
                    (du)="deleteUser($event)"
                    (updateform)="userUpdateForm($event)"
                    (uview)="updateView($event)" >
                </app-dash-search>
            </div>
        </div>
        <div *ngSwitchCase=" 'clients' ">
            <div *ngIf="currentUser" class="pb-5">
            <h3 class="text-muted my-2">Clients</h3>
                <app-dash-search 
                    [currentUser]="currentUser"
                    [currentView]="currentView"
                    (pc)="patchClient($event)"
                    (cc)="createClient($event)"
                    (dc)="deleteClient($event)"
                    (uview)="updateView($event)" 
                    (updateform)="userUpdateForm($event)" >
                </app-dash-search>
            </div>
        </div>
        <div *ngSwitchCase="'archive'">
            <div *ngIf="currentUser">
                <h3 class="text-muted my-2">Archive</h3>
                <app-dash-archive > </app-dash-archive>
            </div>
        </div>
        <div *ngSwitchDefault>Nothing To Show</div>
    </div>
</div>