<div *ngIf="user && currentUser">
    <div class="card border-secondary my-3">
        <div class="d-flex justify-content-end m-1">
            <button class="btn btn-secondary" (click)="userUpdateForm(uform)">UPDATE</button>
        </div>
        <ng-template #uform let-modal>
            <div class="modal-header modal-head">
              <h5 class="modal-title" id="modal-basic-title">User Registry</h5>
              <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
                <i class="fa fa-times"></i>
              </button>
            </div>
            <div class="modal-body">
              <app-dash-add [user]="user" [currentUser]="currentUser" (closemodal)="modal.dismiss('Cross click')" (upatch)="userPatch($event)" ></app-dash-add>
            </div>
        </ng-template>
        <div *ngIf="user.firstname!=='';else  notUpdated">
            <div class="card-body text-secondary">
                <h6 class="card-title">USER INFORMATION</h6>
                <div class="row">
                    <div class="col-6">Username: {{ user.username!==""? user.username: "No Data" }}</div>
                    <div class="col-6">Email: {{ user.email!==""? user.email: "No Data" }}</div>
                    <div class="col-6">Firstname: {{ user.firstname!==""? user.firstname: "No Data" }}</div>
                    <div class="col-6">Surname: {{ user.surname!==""? user.surname: "No Data" }}</div>
                    <div class="col-6">Gender: {{ user.gender!==""? user.gender: "No Data" }}</div>
                    <div class="col-6">Date of Birth: {{ user.dob.year }}-{{ user.dob.month}}-{{user.dob.day}}</div>
                </div>                
            </div>
        </div>
        <ng-template #notUpdated>
            <div class="text-center container">
                <div class="alert alert-secondary" role="alert">
                    Profile Is Incomplete
                  </div>                      
            </div>
        </ng-template>

    </div>
</div>