<div class="d-flex justify-content-between">
    <div class="col-2 bg-navy">
        <div *ngIf="currentUser">
            <app-dash-sidebar
                [currentUser]="currentUser"
                (uview)="updateView($event)"
                (pu)="patchUser($event)"
                (updateform)="open($event)">                
            </app-dash-sidebar>
        </div>
    </div>
    <div class="col-10 content" *ngIf="currentUser">
        <app-navbar (uview)="updateView($event)" ></app-navbar>
        <div *ngIf="!loading; else load">
            <app-dash-content 
                [currentView]="currentView" 
                [currentUser]="currentUser"
                (pu)="patchUser($event)"
                (cu)="createUser($event)"
                (du)="deleteUser($event)"
                (pc)="patchClient($event)"
                (cc)="createClient($event)"
                (dc)="deleteClient($event)"
                (uview)="updateView($event)" 
                (updateform)="open($event)">
            </app-dash-content>
        </div>
        <ng-template #load>
            <div class="container">
                <h1>Loading...</h1>
            </div>
        </ng-template>
    </div>
</div>